
    <script>
        background-image: url("/img/unagi.jpg");
        background-size: cover;
    </script>
    <div class="message">
        <h1>ERROR 404</h1>
        <h2>You should have seen this coming!!!</h2>
        <h3><a href="/">let's get you back</a></h3>
    </div>
